body{
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    width: 500px;
    height: 550px;
    background-color: rgb(124, 124, 124);
    border-radius: 15px;
    margin-top: 10%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.clockBase{
    height: 90px;
    width: 250px;
    background-color: rgb(212, 212, 212);
    border-radius: 15px;
    border: 10px solid;
    display: flex;                /* make body a flex container */
    justify-content: center;      /* horizontal center */
    align-items: center; 
}
#time{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: monospace;
    
}